@page "/SpellCards/{LevelFilter:int?}"
@page "/SpellCards/Export/{LevelFilter:int?}"

@using System.Text.Json
@layout BlankLayout
@rendermode InteractiveServer

@inject NavigationManager _navManager
@inject IJSRuntime _js

@if (DoExport)
{
    <script src="scripts/html2canvas.min.js"></script>
    <script>
        window.takeScreenshot = async function(elementId, fileName) {
            const element = document.querySelector("#" + elementId);
            if (!element) {
                console.error("Element not found:", elementId);
                return;
            }
    
            const canvas = await html2canvas(element, { scale: 12 });
            const imgDataUrl = canvas.toDataURL("image/svg");
    
            // Trigger a download
            const link = document.createElement("a");
            link.href = imgDataUrl;
            link.download = fileName || "image.svg";
            link.click();
            
            return imgDataUrl; // Returns the image data as a Base64 string if needed in C#
        };
    </script>
}

@while (_index < _spellList.Count)
{
    <div class="spell-page">
        @for (int counter = 1; counter <= 9; counter++)
        {
            <SpellCard Spell="_spellList[_index]" />
            _index++;
            if (_index >= _spellList.Count)
            {
                break;
            }
        }
    </div>
}

@code {
    private int _index = 0;
    private List<Models.Spell> _spellList;
    
    [Parameter]
    public int? LevelFilter { get; set; }

    public bool DoExport => _navManager.Uri.ToLowerInvariant().Contains("export");

    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        if (!File.Exists("./wwwroot/resources/druid.json")) { return; }
        string spellJson = new StreamReader("./wwwroot/resources/druid.json").ReadToEnd();
        _spellList = JsonSerializer.Deserialize<List<Models.Spell>>(spellJson) ?? [];
        
        if (LevelFilter == null) { return; }

        _spellList = _spellList.Where(e => e.Level == LevelFilter).ToList();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        foreach (var spell in _spellList)
        {
            await GenerateSpellCardImage($"spell-card-{spell.Id}");
        }
    }

    private async Task GenerateSpellCardImage(string cardId)
    {
        await _js.InvokeVoidAsync("takeScreenshot", cardId, $"{cardId}.svg");
    }

}